/vendor
/node_modules
.env
composer.lock
.DS_Store
Thumbs.db

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# laravel-ide-helper
_ide_helper.php

# Google Analytics
/public/js/analyticstracking.js

# Google Search Console
/public/google*.html

# privacy & terms
public/privacy.md
public/terms.md
public/css/builds/
public/js/builds/
