/*
修改自：http://www.cssportal.com/css-ribbon-generator/
*/
.ribbon {
    position: absolute;
    left: 10px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 150px;
    height: 150px;
    text-align: right;
    pointer-events: none;
}

.ribbon span {
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    transform: rotate(-45deg);
    width: 180px;
    display: block;
    background: #79A70A;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 30px;
    left: -40px;
}

.ribbon.ribbon-gold span {
    background: linear-gradient(#f9da89 0%, #f9ca52 100%);
}

.ribbon.ribbon-gold span::before {
    border: 3px solid #f9ca52;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.ribbon.ribbon-gold span::after {
    border: 3px solid #f9ca52;
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.ribbon.ribbon-gray span {
    background: linear-gradient(#B6BAC9 0%, #808080 100%);
}

.ribbon.ribbon-gray span::before {
    border: 3px solid #808080;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.ribbon.ribbon-gray span::after {
    border: 3px solid #808080;
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.ribbon.ribbon-blue span {
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
}

.ribbon.ribbon-blue span::before {
    border: 3px solid #1e5799;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.ribbon.ribbon-blue span::after {
    border: 3px solid #1e5799;
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.ribbon.ribbon-silver span {
    background: linear-gradient(#dedfe0 0%, #d6d6d6 100%);
}

.ribbon.ribbon-silver span::before {
    border: 3px solid #d6d6d6;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.ribbon.ribbon-silver span::after {
    border: 3px solid #d6d6d6;
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.ribbon.ribbon-copper span {
    background: linear-gradient(#f0b7a1 0%, #bf6e4e 100%);
}

.ribbon.ribbon-copper span::before {
    border: 3px solid #bf6e4e;
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.ribbon.ribbon-copper span::after {
    border: 3px solid #bf6e4e;
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
