/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 103px; /* 68 + 15 + 20*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 88px; /* 68 + 20 */
    background-color: #f5f5f5;
}

.footer > .container {
    padding-top: 10px;
    margin-bottom: 20px;
}

.footer > .container > p {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}
